<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/materialize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/marq.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', path='/js/materialize.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/js/jquery-3.4.1.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/js/script.js')}}"></script>
    <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>