<html>
<head>
    <link href="{{ url_for('static', path='/css/materialize.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{{actor.name}} | Ailo Profiler</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper grey">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Scenes</a></li>
                <li><a href="#">Actors</a></li>
            </ul>
        </div>
    </nav>
    <div class="cont" style='margin: 30px'>
    <div class="row">
    {%if actor['images']!=None%}
        <img {%if settings['blur_img']==True%}style="filter: blur(8px); -webkit-filter: blur(8px);"{%else%} {%endif%} class="col s12 m3" src="{{actor.images['profile']['0']['md']['url']}}">
    {%else%}
        <img {%if settings['blur_img']==True%}style="filter: blur(8px); -webkit-filter: blur(8px);"{%else%} {%endif%} src="https://image-service-ht.project1content.com/e5b/fc2/930/fdd/450/9a2/c48/255/fd7/250/bd/model/profile_001.jpg width=600&aspectRatio=3x4&imageVersion=1654789360">
    {% endif %}
    <h2 class="col s12 m6">{{actor.name}}</h2>
    <div class="col s12 m6 card-panel"> 
        <p class="truncate">{{actor.bio}}</p>
    </div> 
    <h4 class="col s12 m6">Information</h4>
    <div class="col s12 m6 card-panel">
    {%if actor.birthday!=None%}
    <span>Date of Birth: {{actor.birthday | format_date}}</span><br>
    {%endif%}
    <span>Birth Place: {{actor.birthPlace}}</span><br>
    <span>Height: {{actor.height}}</span><br>
    <span>Measurements: {{actor.measurements}}</span><br>
    <span>Total Videos: {{actor.stats.scenes}}</span>
    </div><br>
        <a col s12 m3 class="waves-effect waves-light btn" href="/web/scenes?actorId={{actor.id}}">View Scenes</a>
    </div>
    <div class="row">
        <h4>Tags</h4>
        {% for tag in actor.tags %}
        <span><a href="/web/actors?tagId={{tag.id}}">{{tag.name}}</a>,</span>
        {%else%}
        <span>No Tags</span>
        {% endfor %}
    </div>
    <div class="row">
        {% for site in actor.scenesPerBrand%}
        <div class="col s12 m2">
            <div class="card">
                <div class="card-content">
                <span class="card-title">{{site.name}}</span>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</body>
</html>