<!DOCTYPE html>
<html>
{%include 'base.html'%}
<title> {{scene.title}} | XDB</title>
<style>
    .fluid_player_layout_default {
        height: 100%;
        width: 100%
    }

    .hover-container img,
    .hover-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.3s ease;
    }

    .hover-container img {
        z-index: 1;
    }

    .hover-container video {
        z-index: 0;
        opacity: 0;
    }

    .hover-container:hover img {
        opacity: 0;
    }

    .hover-container:hover video {
        z-index: 2;
        opacity: 1;
    }

    video {
        max-width: 100%;
        height: auto !important;
    }

    {% if settings["blur_img"]%}
        img {
            filter: blur(8px); 
            -webkit-filter: blur(8px);
        }
        video {
            filter: blur(8px); 
            -webkit-filter: blur(8px);
        }
    {%endif%}
    {% if settings["isDark"]%}
        .dark-c {
            color: white;
        }
        .dark-card {
            background-color: #9e9e9e;
        }
        .dark-tabs {
            background-color: #bdbdbd;
        }
        body {
            background-color: black;
        }
    {%endif%}
</style>
<body class="dark-c">
        {%include 'nav.html' %}
        <div class="page" style="padding: 10px;">
            <div class="row">
                <div class="col s12 l6">
                    <div class="card dark-card">
                    <div class="card-tabs">
                      <ul class="tabs tabs-fixed-width dark-tabs">
                          <li class="tab"><a href="#thumbCard" id="thumbSwitch" class="active" onclick="showcont('thumb')">Thumb</a></li>

                          {%if trailers!=None%}
                          <li class="tab"><a href="#trailerCard" id="trailerSwitch" onclick="showcont('trailer')">Trailer</a></li>
                          {%endif%}
                          {%if downLinks!=None%}
                          <li class="tab"><a href="#sceneCard" id="sceneSwitch"onclick="showcont('scene')">Scene</a></li>
                          {%endif%}
                      </ul>
                    </div>
                    <div class="card-content grey lighten-4 no-padding">
                        <div id="thumbCard" class="dark-card">
                            {%if scene.images!=[]%}
                            <img class="hover-image"src="{{scene['images']['poster']['0']['md']['url']}}" style="height: 100%; width: 100%" onerror="this.src='{{url_for('static', path='/img/na.jpg')}}';">
                            {%else%}
                            <img class="hover-image" src="{{url_for('static', path='/img/na.jpg')}}">
                            {%endif%}
                        </div>
                        {%if trailers!=None%}
                        <div id="trailerCard" style="display: none">
                            <div class="card-image">
                        <video id="trailerPlayer" controls style="border-radius: 2px;">
                            {%for trailer in trailers%}
                            <source {%if trailer in ["1080p","2160p"]%}data-fluid-hd {%endif%}src={{trailer['urls']['view']}} title="{{trailer.label}} {{trailer.codec}}" type="video/mp4">
                            {%endfor%}
                        </video>
                    </div>
                        </div>
                        {%else%}
                        <div id="trailerCard" style="display:none">
                            
                        </div>
                        {%endif%}
                        
                        {%if downLinks!=None%}
                        <div id="sceneCard" style="display: none;">
                            <div class="card-image">
                        <video id="scenePlayer" controls style="border-radius: 2px;">
                            {%for i in downLinks%}
                            <source {%if i['format'] in ["1080p","2160p"]%}data-fluid-hd {%endif%}src={{i['view']}} title="{{i['format']}}" type="video/mp4">
                            {%endfor%}
                        </video>
                    </div>
                        </div>
                        {%else%}
                            <div id="sceneCard" style="display:none">
                                <img src="">
                            </div>
                        {%endif%}
                    </div>
                   
                    <div class="card-content" style="padding: 5px;">
                        <span class="card-title">{{scene.title}}</span>
                    </div>
                    <div class="card-action" style="padding: 5px;">
                        <div class="chip">{{scene.brandMeta.shortName}}</div>
                        {% if scene.collections!=[]%}
                        <div class="chip">{{scene.collections.0.name}}</div>
                        {% endif %}
                        {%if downLinks!=None%}
                        <div id="modal1" class="modal dark-card">
                            <div class="modal-content">
                              <table>
                                <thead>
                                  <tr>
                                      <th>Quality</th>
                                      <th>Codec</th>
                                      <th>Size</th>
                                      <th>Link</th>
                                      <th>Download</th>
                                  </tr>
                                </thead>
                        
                                <tbody>
                                {%for qu in downLinks%}
                                    {%if qu['format'] not in ['hls','dash']%}
                                  <tr>
                                    <td>{{qu['format']}}</td>
                                    <td>{{qu['codec']}}</td>
                                    <td>{{qu['sizeBytes']}}</td>
                                    <td><a href="{{qu['view']}}">Link</a></td>
                                    <td><a href="{{qu['download']}}">Download</a></td>
                                  </tr>
                                    {%endif%}
                                {%endfor%}
                                </tbody>
                              </table>
                            </div>
                            <div class="modal-footer dark-card">
                            
                            </div>
                          </div>
                         
                        <button data-target="modal1" class="btn modal-trigger right"><i class="material-icons left">file_download</i>Download</button>
                        {%else%}
                        {%endif%}
                    </div>
                    </div>
                </div>
                <div class="col s12 l6">
                    <h4>Description</h4>
                    {{scene.description}}
                    <h4>Actors</h4>
                    <span>{%for actor in scene.actors%}<a href="/web/actor/{{actor.id}}">{{actor.name}}</a>, {%else%} {%endfor%}</span>
                    <h4>Release Date</h4>
                    <span>{{scene.dateReleased | format_date}}</span>
                    <h4>Tags</h4>
                    {% for tag in scene.tags %}
                    <span><a href="/web/scenes?sort=date&tagId={{tag.id}}">{{tag.name}}</a>,</span>
                    {% endfor %}
                    </div>
            </div>
            {%if scenePart!=None%}
            <div class="row">
                <h4>{{scenePart.title}} - {{scenePart.type}}</h4>
                {%for sceneQ in scenes.result%}
                <div class="col s12 m3">
                    <div class="card dark-card">
                        <div class="card-image hover-container">
                        {%for tag in sceneQ.tags%}
                        {%if tag.name=='Anal'%}
                        <div class="chip" style="z-index: 3; position: absolute; object-fit: cover;">Anal</div>
                        {%endif%}
                        {%endfor%}
                        {%if sceneQ.images!=[]%}
                        <img class="hover-image"src="{{sceneQ['images']['poster']['0']['md']['url']}}" onerror="this.src='{{url_for('static', path='/img/na.jpg')}}';">
                        {%else%}
                        <img class="hover-image" src="{{url_for('static', path='/img/na.jpg')}}">
                        {%endif%}
                        {%if scene.videos!=[]%}
                        <video class="hover-video" loop>
                            <source src={{sceneQ['videos']['mediabook']['files']['320p']['urls']['view']}} type="video/mp4">Your browser does not support the video tag.
                        </video>
                        {%else%}
                        {%endif%}
                        </div>
                <div class="card-content" style="padding: 5px;">
                    <span class="truncate">{%for actor in sceneQ.actors%}<a href="/web/scenes?actorId={{actor.id}}">{{actor.name}}</a>, {%else%} N/A {%endfor%}</span>
                    <span class="card-title truncate"><a href="/web/scene/{{sceneQ.id}}">{{sceneQ.title}}</a></span>
                    <span>{{sceneQ.dateReleased | format_date}}</span>
                    
                </div>
                <div class="card-action" style="padding: 5px;">
                   <a href="/web/scenes?brand={{scene.brand}}" style="margin-right: 0px;"> <div class="chip">{{sceneQ.brandMeta.shortName}}</div></a>
                    {% if sceneQ.collections!=[] %}
                    <a href="/web/scenes?collectionId={{scene.collections.0.id}}"><div class="chip">{{sceneQ.collections.0.name}}</div></a>
                    {% endif %}
                </div>
            </div>
                </div>
                {% endfor %}
            </div>
            {%else%}
            {%endif%}
        </div>
        <script>
            {%if trailers!=None %}
            var Tplayer = fluidPlayer('trailerPlayer',
                                     {layoutControls: {
                                         allowDownload: false, 
                                         allowTheatre: false,
                                         fillToContainer: true,
                                         playButtonShowing: true,
                                     }
        }
    );
            {%endif%}
            {%if downLinks!=None%}
            var Splayer = fluidPlayer('scenePlayer',
                                     {layoutControls: {
                                         allowDownload: false, 
                                         allowTheatre: false,
                                         fillToContainer: true,
                                         playButtonShowing: true
                                     },
                                     //hls: {overrideNative: true}
                             }
            );
            document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {});
            });
            {%endif%}

        function setActive(elem,type) {
            p=document.getElementById(elem)
            if (p!==null && (type==='add')){
                p.classList.add('active')
            } else if (p!==null && (type==='remove')){
                p.classList.remove('active')
            }
        }


        function showcont(type) {
            if (type=="trailer"){
                document.getElementById("trailerCard").style.display="block";
                setActive('trailerSwitch','add')
                document.getElementById("sceneCard").style.display="none";
                setActive('sceneSwitch','remove')
                document.getElementById("thumbCard").style.display='none';
                setActive('thumbCard','remove')
            } else if (type=="scene"){
                document.getElementById("trailerCard").style.display="none";
                //document.getElementById('trailerSwitch').classList.remove('active')
                setActive('trailerSwitch','remove')
                document.getElementById("sceneCard").style.display="block";
                //document.getElementById('sceneSwitch').classList.add('active')
                setActive('sceneSwitch','add')
                document.getElementById("thumbCard").style.display='none';
                //document.getElementById('thumbSwitch').classList.remove('active')
                setActive('thumbSwitch','remove')
            } else if (type=="thumb"){
                document.getElementById("trailerCard").style.display="none";
                //document.getElementById('trailerSwitch').classList.remove('active')
                setActive('trailerSwitch','remove')
                document.getElementById("sceneCard").style.display="none";
                //document.getElementById('sceneSwitch').classList.remove('active')
                setActive('sceneSwitch','remove')
                document.getElementById("thumbCard").style.display='block';
                //document.getElementById('thumbSwitch').classList.add('active')
                setActive('thumbSwitch','add')
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {});
        });

        document.addEventListener("DOMContentLoaded", () => {
            const hoverContainers = document.querySelectorAll('.hover-container');

            hoverContainers.forEach(container => {
                const hoverImage = container.querySelector('.hover-image');
                const hoverVideo = container.querySelector('.hover-video');

                container.addEventListener('mouseenter', () => {
                    hoverVideo.play().catch(error => {
                        console.error("Error playing video:", error);
                    });
                });

                container.addEventListener('mouseleave', () => {
                    hoverVideo.pause();
                    //hoverVideo.currentTime = 0; // Reset video to the beginning
                });
            });
        });
</script>
</body>
</html>